<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<bean name="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="spiderJobTrigger" />
				<ref bean="pushJobTrigger" />
			</list>
		</property>
	</bean>
	<bean id="spiderJobTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="mySpiderDetail" />
		<property name="cronExpression" value="0 0/5 * * * ?" /> <!-- 每隔15分钟执行一次 -->
	</bean>
	<bean id="pushJobTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="myPushDetail" />
		<property name="cronExpression" value="0 0/5 * * * ?" /> <!-- 每隔60分钟执行一次 -->
	</bean>


	<!-- spider job的配置开始 -->
	<bean id="mySpiderDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="job" />
		<property name="targetMethod" value="spider" />
	</bean>
	<!-- push job的配置开始 -->
	<bean id="myPushDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="job" />
		<property name="targetMethod" value="push" />
	</bean>

	<!-- 工作的bean -->
	<bean id="job" class="com.zhan.app.spider.task.TimerWork" />

</beans>